@import "tailwindcss";

@keyframes success-pop {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  60% {
    opacity: 1;
    transform: scale(1.08);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.success-animation {
  animation: success-pop 0.5s ease-out;
}